[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.10"
djangorestframework = "*"
requests = "*"
beautifulsoup4 = "*"
pymysql = "*"
mysqlclient = "*"
pre-commit = "*"
black = "*"
flake8 = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.9"
